* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 95vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;

    background-color: #252530;
}

#calculadora {
    background-color: black;
    border-radius: 5px;
    border: solid white 2px;
    box-shadow: 7.5px 7.5px 10px black;
}

#visor {
    max-width: 329px;
    height: 60px;

    margin: 12px;

    font-size: 50px;
    text-align: end;

    background-color: white;
    border-radius: 5px;
}

#logo {
    width: 25px;

    padding-top: 4px;
    padding-left: 164px;
}

#btns {
    margin: 7.5px;
}

.btn {
    width: 80px;
    height: 80px;

    margin: 1px;

    font-size: 40px;

    color: white;
    background-color: #262626;
    border-radius: 1.5px;
    border: none;

    transition-duration: 0.5s;
}

.btn:hover {
    background-color: black;
}